.advertisement {
    background-color: #F59400;
   
}
.item-name {
    color: #007185;
    font-weight: 500;
    margin: 0;
    font-family:  "Amazon Ember",Arial,sans-serif;
    &:hover{
        color: red;
    }
}
.item-price {
    color: black;
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.item-information {
    margin: 0;
    color: black;
}

.item-evaluate {
    margin: 0;
    color: black;
}

.row-content {
    .ant-row {
        margin-top: 20px;
        .ant-col {
            height: 75px;
            display: flex;
            .img-logo {
                width: 60px;
                height: 60px;
            }
            h2 {
                margin: 10px;
            }
        }
        
    }
    
}

.xuhuong {
    width: 100%;
    height: 300px;
    background-color: violet;
    border-radius: 15px;
    margin: 10px 0;

    h2 {
        text-align: center;
        font-size:1.7;
        font-weight: 700px;
    }
    .cart {
        width: 100%;
        height: 230px;
        display: flex;
        
        .item {
            width: 25%;
            height: 100%;
            background-color: white;
            margin: 20px 4%;
            border-radius: 10px;
            background-image: url('https://cdn.tgdd.vn/2022/06/banner/Deskx1-280x235.png');

            .title {
                margin-top: 150px;
                margin-left: 20px;

            p {
                margin: 0;
                font-size: 18px;
                font-weight: 470;
            }
            .blue {
                color: #2f80ed;
            }

            }
        }
    }
}