.container-userproduct {
    width: 95%;
    margin-left: 5%;
    min-height: 700px;
    margin-top: 100px;
    display: flex;

    img  {
        width: 40px;
        height: 40px;
    }

    .sibar {
        margin-top: 100px;
        width: 20%;
        height: 100%;
        background-color: blue;

        li {
            height: 100px;
        }
    }
}