.search  {
    margin-top: 150px;
    margin-left: 100px;
}


.container-userproduct {
    width: 95%;
    margin-left: 5%;
    min-height: 700px;
    display: flex;

    .sibar {
        margin-top: 100px;
        width: 20%;
        height: 100%;
        background-color: blue;

        li {
            height: 100px;
        }
      
    }

}

.chonloc {
    display: flex;
    margin-left: 10px;
    
    select {
        border: 1px solid gray;
        margin-left: 10px;
    }
}

