.mainLayout .ant-layout-header {
  padding: 0;
    height: 83px;
    line-height: 1.6;
    background-color: #ee2624;
    display: block;

  .header {
    display: flex;
    align-items: center;
    padding: 15px 0;
    margin-top: 0;
    height: 60px;

    h1 {
      width: 180px;
      font-size: 1.5em;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif ;
      font-style: italic;
      font-weight: bold;
      margin-left: 50px;
    }
    
    input {
      width: 800px;
      height: 42px;
      border: 1px solid red;
      margin: 15px 50px;
      outline: none;
      border-radius: 2px;
      padding: 0 15px;
      font-weight: 500;

    }
    .menu-bar {
      margin: 0;
      text-align: center;
      ul {
        display: flex;
        list-style: none;
        color: #fff;

        li {
          width: 120px;
          padding: 15px;
          &:hover {
            background-color:brown;
            font-weight: 600;
            border-radius: 5px;
          }
        }
      
        .cart {
          width: 50px;
          .cart-icon {
            display: inline-block;
            height: 18px;
            width: 18px;
            position: absolute;
            background-color: #fff;
            border: 2px solid #ee2624;
            border-radius:50%;
            color: #ee2624;
            padding: 4px;
            font-weight: bold;
            left: 85%;
            top: -95%;
            font-size: 8px;
          }
        }
      }
      
    }
    
      
      img{
        height: 40px;
        width: 61px;
        border-radius: 50%;
        cursor: pointer;
      }
    
  }
    
    a {
      color: white !important;
      .ant-menu-item:after {
        width: 0px;
      }
    }

    .fa-cart-arrow-down  {
        position: relative;
        
    }

    .bot {
      .ant-col {
        h4 {
          text-align: center;
          color: white;
          margin-right: 0;
          margin: 0;
        }
        &:hover {
          background-color: rgb(235, 60, 60);
          border-radius: 10px ;
        }
      }
    }
   
}
