.mainLayout .ant-layout-header {
    padding: 0;
    height: 80px;
    line-height: 1.6;
    .title-header {
      margin-left: 40px;
    }
    a {
      color: white !important;
    }
    i{
      color: white;
    }
    
  }
  