.mainLayout .ant-layout-header {
  .header {
    margin-top: 0;
    height: 60px;
    button {
      background-color: black;
      border: 1px solid black;
    }
    input {
      border: 1px solid red;
    }
  
  }
    padding: 0;
    height: 83px;
    line-height: 1.6;
    background-color: #ee2624;
    display: block;
  
    .title-header {
      margin-left: 40px;
    }
    a {
      color: white !important;
      .ant-menu-item:after {
        width: 0px;
      }
    }
    i{
      color: white;
      margin: 0;
    }

    .fa-cart-arrow-down  {
        position: relative;
        .cart {
          display: inline-block;
          height: 18px;
          width: 18px;
          position: absolute;
          background-color: #fff;
          border: 2px solid #ee2624;
          border-radius:50%;
          color: #ee2624;
          padding: 4px;
          font-weight: bold;
          left: 85%;
          top: -95%;
          font-size: 8px;
        }
    }

    .bot {
      .ant-col {
        h4 {
          text-align: center;
          color: white;
          margin-right: 0;
          margin: 0;
        }
        &:hover {
          background-color: rgb(235, 60, 60);
          border-radius: 10px ;
        }
      }
    }
   
}
