
  .ant-layout-footer {
    // height: 400px;
    background: #111 !important;
    color: #fff !important;
    padding: 20px 0 !important;

    .container-footer {

      .footer {

        h3 {
          color: #fff;
          font-size: 16px;
          line-height: 20px;
          margin-top: 0;
          margin-left: 40px;


        }
        ul {
          margin-left: 0;
          li {
            list-style-type: none;
            font-size: 14px;
            margin: 10px 0;
            cursor: pointer;
            a {
              color: white;
            }
            &:hover {
              color: gray;
            }
          }
        }
        span {
          display: block;
          text-align: center;
        }

        .ant-spin-nested-loading {
          margin-left: 40px;
        }
        .info-img {
          img {
            margin-right: 20px;
          }
          margin-left: 40px;
        }
        
      }
    }
  }
  