.main {
    background-color: white !important;
}

.container-cart {
    margin: 140px auto;
    max-width: 1200px;
    padding: 0 15px;
    background-color: white;

   
    .scroll-product {
        height: 500px;
        overflow: scroll;
    }
    .col-cart {
        border: 1px solid gray;
        padding: 30px;
        padding-left: 20px;
    }

    .sumprice {
        height: 160px;
    }
 

    input {
        width: 65px;
        border: 1px solid gray;
        &:hover{
        border: 1px solid #4dd2ff;
            
        }
    }

    h2 {
        text-align: center;
    }
    .quantity {
        display: flex;
    }
  }
  
  .totalUniqueItems {
    color: red;
}

.render-name  {
    display: inline-block;
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

